HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.idea/
.env
backend/.env
frontend/apps/web-admin/.env
frontend/apps/web-admin/.env.local
frontend/apps/web-admin/.env.development.local
frontend/apps/web-admin/.env.test.local
frontend/apps/web-admin/.env.production.local
frontend/apps/web-admin/node_modules/
frontend/apps/web-admin/dist/
frontend/apps/app_user/.dart_tool/
frontend/apps/app_user/.metadata
frontend/apps/app_user/build/
frontend/apps/app_user/.flutter-plugins
frontend/apps/app_user/.flutter-plugins-dependencies
frontend/apps/app_user/.packages
frontend/apps/app_user/pubspec_overrides.yaml
